In [2]:
import streamlit as st
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [9]:
data_new = {
    'Nama': 'izu',
    'NIM': '235',
    'Feature_1': 1, 'Feature_2': 5, 'Feature_3': 5, 'Feature_4': 1, 'Feature_5': 5,
    'Feature_6': 1, 'Feature_7': 5, 'Feature_8': 5, 'Feature_9': 1, 'Feature_10': 5,
    'Feature_11': 2, 'Feature_12': 1, 'Feature_13': 1, 'Feature_14': 1, 'Feature_15': 3,
    'Feature_16': 3, 'Feature_17': 1, 'Feature_18': 5, 'Feature_19': 5, 'Feature_20': 3,
    'Feature_21': 3, 'Feature_22': 5, 'Feature_23': 1, 'Feature_24': 5, 'Feature_25': 3,
    'Feature_26': 5, 'Feature_27': 3, 'Feature_28': 5, 'Feature_29': 1, 'Feature_30': 5,
    'Feature_31': 4, 'Feature_32': 4, 'Feature_33': 5, 'Feature_34': 5, 'Feature_35': 5,
    'Feature_36': 5, 'Feature_37': 1, 'Feature_38': 5, 'Feature_39': 1, 'Feature_40': 1
}

In [10]:

df_new = pd.DataFrame([data_new])

In [11]:
df_new

,Nama,NIM,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,...,Feature_31,Feature_32,Feature_33,Feature_34,Feature_35,Feature_36,Feature_37,Feature_38,Feature_39,Feature_40
0,izu,235,1,5,5,1,5,1,5,5,...,4,4,5,5,5,5,1,5,1,1

In [12]:
# Membaca data sintetik training yang sudah dibuat
df_training = pd.read_csv('synthetic_training_data_with_nama_nim.csv')

# Gabungkan data responden baru dengan dataset sintetik
df_combined = pd.concat([df_training, df_new], ignore_index=True)

# Pastikan kita hanya menggunakan fitur numerik (jawaban survei) untuk pelatihan model
X = df_combined.iloc[:, 2:-1]  # Mengambil fitur tanpa kolom Nama, NIM, dan Keahlian
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [13]:
df_combined

,Nama,NIM,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,...,Feature_31,Feature_32,Feature_33,Feature_34,Feature_35,Feature_36,Feature_37,Feature_38,Feature_39,Feature_40
0,Nama_8270,NIM_7423388,4,2,3,5,1,3,3,2,...,4,1,5,5,3,2,2,2,1,5
1,Nama_4843,NIM_6414709,1,1,5,4,2,2,4,3,...,5,1,5,3,4,2,3,2,1,3
2,Nama_8858,NIM_1769598,3,3,5,4,2,2,2,3,...,4,1,4,3,1,3,3,2,2,2
3,Nama_8554,NIM_1416880,3,2,5,2,2,5,5,1,...,5,2,5,4,4,1,2,3,1,4
4,Nama_6423,NIM_3472189,2,4,5,3,2,5,4,3,...,3,1,4,4,4,1,3,3,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,Nama_1291,NIM_9942035,5,2,2,2,3,2,1,3,...,3,2,4,4,1,3,4,3,5,5
3997,Nama_4730,NIM_6582972,1,3,3,3,5,1,3,3,...,4,1,3,4,4,3,2,2,5,5
3998,Nama_7205,NIM_6448130,1,2,2,4,4,1,4,3,...,3,1,5,2,1,5,2,3,5,5
3999,Nama_8924,NIM_5263410,4,3,1,3,5,1,3,4,...,3,1,4,1,2,5,4,4,5,4
4000,izu,235,1,5,5,1,5,1,5,5,...,4,4,5,5,5,5,1,5,1,1

In [16]:

# K-Means Clustering
kmeans = KMeans(n_clusters=4, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

# Menyimpan cluster ke data
df_combined['Cluster'] = clusters

# Menghubungkan cluster ke keahlian
cluster_labels = {
    0: "Computational dan Artificial Intelligence",
    1: "Networking dan Security",
    2: "Software Engineering dan Mobile Computing",
    3: "Information System dan Data Spasial"
}

# Menentukan cluster pengguna baru
cluster_user = clusters[-1]
keahlian = cluster_labels[cluster_user]

In [17]:
keahlian

'Information System dan Data Spasial'

In [3]:
# Load research topics from CSV
def load_topics():
    return pd.read_csv('Topik_Penelitian_dengan_Pembimbing_Terpisah.csv')

In [4]:
topics_df = load_topics()

In [5]:
topics_df

,Kelompok,Topik Penelitian,Pembimbing 1,Pembimbing 2,Pembimbing 3,Pembimbing 4,Pembimbing 5,Pembimbing 6,Pembimbing 7,Pembimbing 8
0,computational dan artificial intelligence,AI dalam robotika,"Dr. Arif Bijaksana Putra Negara, S.T., M.T. (K...","Rina Septiriana, ST, M.Cs (Sekretaris Kelompok)","Helen Sastypratiwi, S.T., M.Eng","Ibnu Arif S.Kom., M.Kom.","Izuardo Zulkarnain, M.T.","Niken Candraningrum, S.T., M.Cs.","Prof. Dr. Herry Sujaini, S.T., M.T.","Tursina, S.T., M.Cs."
1,computational dan artificial intelligence,AI untuk deteksi objek,"Dr. Arif Bijaksana Putra Negara, S.T., M.T. (K...","Rina Septiriana, ST, M.Cs (Sekretaris Kelompok)","Helen Sastypratiwi, S.T., M.Eng","Ibnu Arif S.Kom., M.Kom.","Izuardo Zulkarnain, M.T.","Niken Candraningrum, S.T., M.Cs.","Prof. Dr. Herry Sujaini, S.T., M.T.","Tursina, S.T., M.Cs."
2,computational dan artificial intelligence,AI untuk diagnosa medis,"Dr. Arif Bijaksana Putra Negara, S.T., M.T. (K...","Rina Septiriana, ST, M.Cs (Sekretaris Kelompok)","Helen Sastypratiwi, S.T., M.Eng","Ibnu Arif S.Kom., M.Kom.","Izuardo Zulkarnain, M.T.","Niken Candraningrum, S.T., M.Cs.","Prof. Dr. Herry Sujaini, S.T., M.T.","Tursina, S.T., M.Cs."
3,computational dan artificial intelligence,AI untuk kendaraan otonom,"Dr. Arif Bijaksana Putra Negara, S.T., M.T. (K...","Rina Septiriana, ST, M.Cs (Sekretaris Kelompok)","Helen Sastypratiwi, S.T., M.Eng","Ibnu Arif S.Kom., M.Kom.","Izuardo Zulkarnain, M.T.","Niken Candraningrum, S.T., M.Cs.","Prof. Dr. Herry Sujaini, S.T., M.T.","Tursina, S.T., M.Cs."
4,computational dan artificial intelligence,AI untuk pengenalan wajah (face recognition),"Dr. Arif Bijaksana Putra Negara, S.T., M.T. (K...","Rina Septiriana, ST, M.Cs (Sekretaris Kelompok)","Helen Sastypratiwi, S.T., M.Eng","Ibnu Arif S.Kom., M.Kom.","Izuardo Zulkarnain, M.T.","Niken Candraningrum, S.T., M.Cs.","Prof. Dr. Herry Sujaini, S.T., M.T.","Tursina, S.T., M.Cs."
...,...,...,...,...,...,...,...,...,...,...
75,software engineering dan mobile computing,Pengujian unit (unit testing) dalam pengembang...,"H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)","Anggi Perwitasari, S.T., M.T. (Sekretaris Kelo...","Desepta Isna Ulumi, S.Kom, M.Kom.","Khairul Hafidh, S.T., M.Kom.","M. Tsanauddin Farid, S.Kom., M.Eng.","Novi Safriadi, S.T., M.T.","Rudy Dwi Nyoto, ST, M.Eng",NaN
76,software engineering dan mobile computing,Progressive web apps (PWA),"H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)","Anggi Perwitasari, S.T., M.T. (Sekretaris Kelo...","Desepta Isna Ulumi, S.Kom, M.Kom.","Khairul Hafidh, S.T., M.Kom.","M. Tsanauddin Farid, S.Kom., M.Eng.","Novi Safriadi, S.T., M.T.","Rudy Dwi Nyoto, ST, M.Eng",NaN
77,software engineering dan mobile computing,Teknik manajemen versi perangkat lunak,"H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)","Anggi Perwitasari, S.T., M.T. (Sekretaris Kelo...","Desepta Isna Ulumi, S.Kom, M.Kom.","Khairul Hafidh, S.T., M.Kom.","M. Tsanauddin Farid, S.Kom., M.Eng.","Novi Safriadi, S.T., M.T.","Rudy Dwi Nyoto, ST, M.Eng",NaN
78,software engineering dan mobile computing,Teknik pengujian perangkat lunak otomatis,"H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)","Anggi Perwitasari, S.T., M.T. (Sekretaris Kelo...","Desepta Isna Ulumi, S.Kom, M.Kom.","Khairul Hafidh, S.T., M.Kom.","M. Tsanauddin Farid, S.Kom., M.Eng.","Novi Safriadi, S.T., M.T.","Rudy Dwi Nyoto, ST, M.Eng",NaN
79,software engineering dan mobile computing,Teknologi serverless untuk aplikasi mobile,"H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)","Anggi Perwitasari, S.T., M.T. (Sekretaris Kelo...","Desepta Isna Ulumi, S.Kom, M.Kom.","Khairul Hafidh, S.T., M.Kom.","M. Tsanauddin Farid, S.Kom., M.Eng.","Novi Safriadi, S.T., M.T.","Rudy Dwi Nyoto, ST, M.Eng",NaN

In [6]:
filtered_topics = topics_df[topics_df['Kelompok'].str.lower() == 'software engineering dan mobile computing']

In [7]:
research_topics=filtered_topics['Topik Penelitian'].tolist()

In [ ]:
st.write("Here are the research topics from the CSV file:")
for topic in research_topics:
    st.write(f"- {topic}")

In [17]:
pembimbing_columns = [f'Pembimbing {i}' for i in range(1, 9)]

# Create a list of unique names for each pembimbing
pembimbing_list = {col: filtered_topics[col].unique().tolist() for col in pembimbing_columns}

# Display the result
pembimbing_list

{'Pembimbing 1': ['H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)'],
 'Pembimbing 2': ['Anggi Perwitasari, S.T., M.T. (Sekretaris Kelompok)'],
 'Pembimbing 3': ['Desepta Isna Ulumi, S.Kom, M.Kom.'],
 'Pembimbing 4': ['Khairul Hafidh, S.T., M.Kom.'],
 'Pembimbing 5': ['M. Tsanauddin Farid, S.Kom., M.Eng.'],
 'Pembimbing 6': ['Novi Safriadi, S.T., M.T.'],
 'Pembimbing 7': ['Rudy Dwi Nyoto, ST, M.Eng'],
 'Pembimbing 8': [nan]}

In [24]:
pembimbing_list

{'Pembimbing 1': ['H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)'],
 'Pembimbing 2': ['Anggi Perwitasari, S.T., M.T. (Sekretaris Kelompok)'],
 'Pembimbing 3': ['Desepta Isna Ulumi, S.Kom, M.Kom.'],
 'Pembimbing 4': ['Khairul Hafidh, S.T., M.Kom.'],
 'Pembimbing 5': ['M. Tsanauddin Farid, S.Kom., M.Eng.'],
 'Pembimbing 6': ['Novi Safriadi, S.T., M.T.'],
 'Pembimbing 7': ['Rudy Dwi Nyoto, ST, M.Eng'],
 'Pembimbing 8': [nan]}

In [25]:
nama_pembimbing = [nama[0] for nama in pembimbing_list.values() if not (isinstance(nama[0], float) and math.isnan(nama[0]))]

In [26]:
print("Daftar Nama Pembimbing:")
for nama in nama_pembimbing:
    print(nama)

Daftar Nama Pembimbing:
H. Hengky Anra, S.T., M.Kom. (Ketua Kelompok)
Anggi Perwitasari, S.T., M.T. (Sekretaris Kelompok)
Desepta Isna Ulumi, S.Kom, M.Kom.
Khairul Hafidh, S.T., M.Kom.
M. Tsanauddin Farid, S.Kom., M.Eng.
Novi Safriadi, S.T., M.T.
Rudy Dwi Nyoto, ST, M.Eng

In [1]:
import pandas as pd
import numpy as np

# --- Fungsi untuk membuat data sintetis ---
def create_synthetic_data(n_rows, cluster):
    """
    Fungsi untuk membuat data sintetis untuk kuesioner.

    Args:
      n_rows: Jumlah baris data yang akan dibuat.
      cluster: Nama cluster yang akan dibuat datanya.

    Returns:
      DataFrame pandas berisi data sintetis.
    """
    
    # Inisialisasi DataFrame
    df = pd.DataFrame()

    # Nama dan NIM
    df['Nama'] = [f'Mahasiswa {i+1}' for i in range(n_rows)]
    df['NIM'] = [f'20190801{i:03d}' for i in range(n_rows)]

    # --- Bagian Minat ---
    for i in range(1, 11):
        if cluster == "Networking dan Security":
            if i in [2, 3]:  # Pertanyaan terkait Networking dan Security
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Software Engineering dan Mobile Computing":
            if i in [1, 4]:  # Pertanyaan terkait Software Engineering dan Mobile Computing
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Information System dan Data Spasial":
            if i in [7, 8, 10]:  # Pertanyaan terkait Information System dan Data Spasial
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Computational dan Artificial Intelligence":  # Pertanyaan terkait Computational dan AI
            if i in [1, 2, 5, 10]:
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])

    # --- Bagian Kemampuan Teknis ---
    for i in range(11, 21):
        if cluster == "Networking dan Security":
            if i in [13, 14, 15]:  # Pertanyaan terkait Networking dan Security
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Software Engineering dan Mobile Computing":
            if i in [11, 16, 17]:  # Pertanyaan terkait Software Engineering dan Mobile Computing
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Information System dan Data Spasial":
            if i in [12, 19]:  # Pertanyaan terkait Information System dan Data Spasial
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Computational dan Artificial Intelligence":  # Pertanyaan terkait Computational dan AI
            if i in [11, 12, 17, 20]:
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])

    # --- Bagian Preferensi Gaya Belajar ---
    for i in range(21, 31):
        df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])

  # --- Bagian Tujuan Karir ---
    for i in range(31, 41):
        if cluster == "Networking dan Security":
            if i in [32, 38]:  # Pertanyaan terkait Networking dan Security
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Software Engineering dan Mobile Computing":
            if i in [31, 34, 37, 39]:  # Pertanyaan terkait Software Engineering dan Mobile Computing
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Information System dan Data Spasial":
            if i in [34, 35, 36, 40]:  # Pertanyaan terkait Information System dan Data Spasial
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])
        elif cluster == "Computational dan Artificial Intelligence":  # Pertanyaan terkait Computational dan AI
            if i in [31, 33, 35, 37]:
                df[f'Feature_{i}'] = np.random.choice([4, 5], size=n_rows, p=[0.4, 0.6])  # Lanjutan kode
            else:
                df[f'Feature_{i}'] = np.random.choice([1, 2, 3, 4, 5], size=n_rows, p=[0.2, 0.2, 0.3, 0.2, 0.1])

    return df

# --- Buat data sintetis untuk setiap cluster ---
all_data = pd.DataFrame()  # Inisialisasi DataFrame untuk menampung semua data
clusters = [
    "Networking dan Security",
    "Software Engineering dan Mobile Computing",
    "Information System dan Data Spasial",
    "Computational dan Artificial Intelligence"
]

for cluster in clusters:
    df_cluster = create_synthetic_data(100, cluster)
    all_data = pd.concat([all_data, df_cluster])

# --- Simpan data ke file CSV ---
all_data.to_csv('jawaban_100_mahasiswa_semua_cluster.csv', index=False)